/* 
预约类   档案更正，机动车号码、代号变更
驾驶证类 满分学习，其它业务，未体检，未换证
 */
#orderAlterClass{
  font-size: 26px;
  .btn-select{
    height: 58px;
    font-size: 26px;
  }
  .bg-white{
    background-color: #FFF;
  }
  .date-style{
    margin-top: 15px;
  }
  .alter-select{
    height: 100px;
    background-color: #fff;
    position: relative;
    padding-left: 230px;
    padding-top: 22px;
    margin-bottom: 10px;
    .alter-chose{
      width: 180px;
      position: absolute;
      left: 50px;
      color: #666;
      font-size: 28px;
      line-height: 55px;
    }
    .alter-wd{
      width: 100%;
      border: 0.03125rem solid #e2e2e7;
      border-radius: 0.3125rem;
      line-height: 1.56rem;
      text-indent: 0.5625rem;
      p{
        font-size: 26px;
      }
    }
  }
  .alter-hbs-list {
    background:#FFF;
    .alter-hbs-item {
      padding-top: 24px;
      padding-left: 180px;
      position: relative;
      line-height: 56px;
      .alter-hbs-name {
        width: 180px;
        position: absolute;
        left: 0;
        font-size: 28px;
      }
      .alter-hbs-text {
        width: 100%;
        display: inline-block;
        input{
          font-size: 26px;
        }
      }
      .alter-hbs-radio {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .alter-hbs-code {
        text-indent: 28px;
        text-decoration: underline;
        .verifyButton{
          width: 160px;
          background: #09BB07;
          height: 57px;
          border:none;
          border-radius: 10px;
          color: #FFF;
          font-size: 26px;
          outline:none;
          &.disabled{
            background: #CCC;
            color: #FFF;
          }
        }
      }
    }
  }
  .width-70 {
    width: 70% !important;
  }
  .width-60 {
    width: 60% !important;
  }
  .width-120 {
    width: 120px !important;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  /*  预约日期  */
  .alter-item{
    margin-bottom: 24px;
    position: relative;
    line-height: 56px;
    .alter-order-date{
      margin: 24px 0;
    }
    .alter-name{
      position: absolute;
      left: 0;
    }
    .year{
      width: 26%;
    }
    .month,.date{
      width: 21%;
      span{
        text-indent: 0;
        text-align: center;
      }
    }
  }
  .active{
    border-color: #2696DD;
  }
  .time-full{
    background: #EAEAED;
  }
  .alter-detail-time{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    border: 2px solid #EAEAED;
    border-color: transparent;
    border-bottom-color: #EAEAED;
    .yy_yysl{
      margin: 0 10px 0 34px;
      color: #19D051;
    }
    p{
      text-indent: 0;
    }
  }
  .alter-button-box{
    background: #FFF;
    padding-top: 72px;
    padding-bottom: 60px;
    .alterButton{
      background: #10AEFF;
    }
  }
  .mint-indicator{
    position:relative;
    .mint-indicator-wrapper{
      z-index:9999999;
    }
  }
}
