.renewing{
  .btn-select{
    height: 100%;
  }
  .date-style{
    margin-top: 15px;
  }
  .alter-select{
    height: 100px;
    background-color: #fff;
    position: relative;
    padding-left: 230px;
    padding-top: 22px;
    margin-bottom: 16px;
    .alter-chose{
      width: 180px;
      /*width: 100%;*/
      position: absolute;
      left: 50px;
      color: #666;
      line-height: 55px;
      font-size: 26px;
    }
    .alter-wd{
      width: 100%;
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      border: 0.03125rem solid #e2e2e7;
      border-radius: 0.3125rem;
      line-height: 1.6875rem;
      text-indent: 0.5625rem;
      font-size: 26px;
    }
  }
}
.renewingCollar {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 50px;
  .renewingCollar-form {
    background-color: #fff;
    padding-top:10px;
    .form-line {
      padding: 20px 0 0 180px;
      position: relative;
      line-height: 56px;
      .form-line-item {
        width: 100%;
        display: inline-block;
        height: 60px;
        line-height:60px;
        .photo-ex {
          color: #2696dd;
        }
        span {
          vertical-align: middle;
        }
        .browse-code {
          margin: 0;
          display: inline-block;
          height: 57px;
          width: 100%;
          line-height: 57px;
          border-radius: 10px;
          text-align: center;
          color:#fff;
          vertical-align:middle;
          font-size: 26px;
        }
        &.city {
          margin: 0 18px;
        }
        &.sex {
          text-align: center;
        }
      }
      .item-name {
        width: 180px;
        position: absolute;
        left: 0;
      }
      .div-select {
        font-size: 26px;
      }
    }
    .form-li{
      width: 100%;
      display: inline-block;
      height: 60px;
      line-height:60px;
      span{
        font-size: 26px;
      }
    }
    .form-annotation{
      color: red;
      font-size: 26px;
    }
  }
  .width-27 {
    width: 27% !important;
  }
  .width-40 {
    width: 40% !important;
  }
  .width-35 {
    width: 35% !important;
  }
  .width-50 {
    width: 50% !important;
  }
  .width-60 {
    width: 60% !important;
  }
  .btn {
    width: 280px;
    margin-top:30px;
    display: inline-block;
  }
  .btns{
    margin: 60px 0 30px 0;
    width: 100%;
  }
  .div-select-ul{
    font-size: 26px;
  }
  .rene{
    display: inline-block;
    width: 6%;
    text-align: center;
  }
/*  .renewingUl{
    margin-top: 30px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 300px;
    overflow-y:auto;
    .renewingLi{
      display: flex;
      line-height: 80px;
      border-bottom: 1px solid #ccc;
      margin: 0;
      p{
        flex: 1
      }
      p:nth-of-type(1){
        text-indent: 40px;
      }
      p:nth-of-type(2){
        text-align: right;
        padding-right: 40px;
      }
      .renspan{
        color: #18d151;
        padding: 0 10px;
      }
    }
    .renewingLi:last-of-type{
        border-bottom: none;
      }
    .rene-p{
      background: #eae9ee;
    }
  }*/
  .time-liOrder{
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    .time-order{
      float: left;
    }
    .time-one{
      float: right;
      line-height: 50px;
      padding-right: 30px;
    }
    .renspan{
      color: #18d151;
      line-height: 50px;
      padding: 0 10px;
    }
  }
  .time-liOrder:last-of-type {
    border-bottom: none;
  }
  .show{
    background: #999999;
  }
  .btn-cen{
    text-align: center;
  }
  .btns{
    background: #0faeff;
  }
  .alter-outer .div-select .btn-select{
    background: #ccc;
  }
  .bg-colour{
    background-color: #fff;
  }
  .rene-c{
    border:1px solid #0faeff !important;
  }
  .typeCommon{
    margin: 100px 0 60px 0;
  }
}